* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

body {
  display: flex;
}

.nav-desktop {
  position: fixed;
  z-index: 1;
  height: 100vh;
  width: 18%;
  background: #191C24;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.2);
}
.nav-logo {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #cda05d;
}
.nav-logo img {
  width: 95%;
  animation: fly-1 1s infinite alternate;
}

.nav-logo-items {
  color: #d69c8b;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav-logo-items hr {
  width: 100%;
  border: #edaca6 1px solid;
}

.content {
  min-height: 90vh;
  width: 82%;
  background: #000000;
  margin-left: 18%;
  margin-top: 5%;
}

header {
  height: 10%;
  width: 100%;
  background: #191C24;
  position: fixed;
  top: 0;
  left: 0;
}

.header-container {
  padding: 0 1.25rem;
  max-width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-right i {
  margin: 0 1rem;
  color: #FACE8D;
  cursor: pointer;
  font-size: 1.5rem;
}

section {
  max-width: 100%;
  padding: 3rem 5rem;
  background: #181616;
}

.sabores {
  margin-bottom: 3rem;
}

.sabores h1 {
  color: white;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.sabores-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sabores .card {
  background: #191C24;
  min-width: 28%;
  max-width: 28%;
  min-height: 8rem;
  padding: 1.25rem;
  border-radius: 1.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}

.sabores-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sabores-header p {
  border-radius: 15px;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  color: #ffffff;
}

.sabores-header p:hover {
  background: #ffffff16;
}

.card-icon i {
  font-size: 5rem;
  margin-right: 2rem;
}

.chocolate {
  color: #5a4640;
}

.fresa {
  color: #e99ac6;
}

.vainilla {
  color: #f3eed4;
}

.mym {
  color: #cfae6d;
}

.colors {
  color: #f579a7;
}

.card-body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card-body p {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.pedidos {
  max-width: 100%;
  background: #191c24;
  border-radius: 1.25rem;
  padding: 1.25rem;
}

.pedidos-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.pedidos-header h1 {
  color: #ffffff;
  font-size: 2rem;
  margin-bottom: 1rem;
  margin-right: 1rem;
}

.pedidos-header hr {
  width: 100%;
  border: #ffffff 1px solid;
  margin-right: 1rem;
}

.pedidos-header p {
  border-radius: 15px;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  color: #ffffff;
}

.pedidos-header p:hover {
  background: #edaca616;
}

.rwd-table {
  min-width: 100%;
}
.rwd-table tr {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #e3e3e3;
}
.rwd-table th {
  display: none;
}

.rwd-table td {
  display: block;
}

.rwd-table td:first-child {
  padding-top: 0.5em;
}

.rwd-table td:last-child {
  padding-bottom: 0.5em;
}

.rwd-table td:before {
  content: attr(data-th) ": ";
  font-weight: bold;
  width: 6.5em;
  display: inline-block;
}


.rwd-table th,
.rwd-table td {
  text-align: left;
}


.rwd-table {
  color: rgb(255 255 255);
  border-radius: 0.4em;
  overflow: hidden;
}

.rwd-table th,
.rwd-table td {
  margin: 0.5em 1em;
}



.rwd-table th,
.rwd-table td:before {
  color: #d7c090;
}

.rwd-table span {
  padding: 8px 20px;
  border-radius: 20px;
}

.pendiente {
  background: rgb(171 171 171 / 44%);
}

.entregado {
  background: rgba(0, 255, 0, 0.435);
}

.actions i {
  cursor: pointer;
  color: #fffbfa;
  border-radius: 15px;
  padding: 10px;
}

.actions i:hover {
  background: #edaca616;
}

.nav-items {
  /* padding-top: 2rem; */
  max-height: 100%;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.nav-item {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.nav-item :hover {
  background: #876d48;
}

.nav-item a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f9f9f9;
  width: 100%;
  height: 100%;
  text-decoration: none;
  font-size: 1.25rem;
}

.nav-item i {
  margin-right: 0.5rem;
}