* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #050505;
}

.PageInicio {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(assets/FondoInicio.png);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}

.logo {
  position: absolute;
  width: 9em;
  top: 33px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.contenedorTitulo {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 32px;
  position: absolute;
  width: 36em;
  height: 13em;
  top: 198px;
}

.Reposteria {
  width: 266px;
  height: 72px;
  font-family: "Adamina";
  font-style: normal;
  font-weight: 400;
  font-size: 62px;
  line-height: 90%;
  color: #face8d;
  text-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
  flex: none;
  order: 0;
  flex-grow: 0;
}

.JuanCakes {
  width: 548px;
  font-family: "Adamina";
  font-style: normal;
  font-weight: 400;
  font-size: 128px;
  text-align: center;
  line-height: 21%;
  color: #ffffff;
  text-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
  flex: unset;
  order: 1;
  flex-grow: 0;
}

.subtitulo {
  width: 600px;
  height: 38px;
  font-family: "Adamina";
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 218%;
  text-align: center;
  color: #ffffff;
  text-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
  flex: none;
  order: 1;
  flex-grow: 0;
}

.navbar {
  display: flex;
  flex-direction: row;
  margin: 4em 0em 0em 0em;
  align-items: center;
  padding: 16px;
  gap: 32px;
  width: 247px;
  height: 11px;
  background: #ffffff;
  border-radius: 100px;
}

.inner {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 2px;
  width: 405px;
  height: 48px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  width: 246px;
  height: 48px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.horario {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 14px 28px;
  margin: 0em 0em;
  gap: 8px;
  width: 188px;
  height: 83px;
  background: #ffffff;
  border-radius: 10px;
}

.TituloHorario {
  width: 68px;
  height: 21px;
  font-family: "Adamina";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  color: #081212;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.Row {
  display: flex;
  flex-direction: row;
  padding: 0px;
  gap: 11px;
  width: 249px;
  height: 16px;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  align-items: flex-start;
  justify-content: space-between;
}

.Row p {
  width: 120px;
  height: 26px;
  font-family: "Adamina";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #081212;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.menu-item {
  height: 42px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16;
  width: 62px;
  height: 34px;
  background: #ffffff;
  border-radius: 100px;
  flex: none;
  order: 0;
  flex-grow: 0;
  border: 0;
  color: #000000;
  text-decoration: none;
  justify-content: center;
  cursor: pointer;
}

.menu-item:hover {
  height: 42px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16;
  width: 62px;
  height: 34px;
  background: #000000;
  border-radius: 100px;
  flex: none;
  order: 0;
  flex-grow: 0;
  border: 0;
  color: #ffffff;
  text-decoration: none;
  justify-content: center;
  cursor: pointer;
}

.menu-item:focus {
  height: 42px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16;
  width: 62px;
  height: 34px;
  background: #000000;
  border-radius: 100px;
  flex: none;
  order: 0;
  flex-grow: 0;
  border: 0;
  color: #ffffff;
  text-decoration: none;
  justify-content: center;
  cursor: pointer;
}

.contenedorNH {
  display: flex;
  flex-direction: row;
  gap: 2em;
  top: 27em;
  position: absolute;
}

/* Menu */

.left {
  position: fixed;
  width: 50%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: top;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.47), rgba(0, 0, 0, 0.47)),
    url(assets/left.png);
  background-size: cover;
}

.left2 {
  position: fixed;
  width: 50%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: top;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.47), rgba(0, 0, 0, 0.47)),
    url(assets/left2.png);
    background-size: cover;
}
.Reposteria {
  width: 201px;
  height: 72px;
}

.right {
  display: flex;
  position: static;
  width: 50%;
  height: 1358px;
  margin: 0 0 0 50%;
  align-items: center;
  flex-direction: column;
}

.navRight {
  display: flex;
  flex-direction: column;
  padding: 11px 0px 0px 0px;
  width: 100%;
  height: 62px;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  align-items: center;
}

.menu-item-right {
  width: 46px;
  height: 26px;
  font-family: "Adamina";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #ffffff;
  flex: none;
  order: 0;
  flex-grow: 0;
  text-decoration: none;
}

.navRight .menu {
  display: flex;
  flex-direction: row;
  gap: 48px;
  width: 100%;
  height: 74px;
  order: 0;
  flex-grow: 0;
  align-items: flex-start;
  justify-content: center;
}

.PageMenu {
  display: flex;
  width: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  width: 30em;
  height: 456px;
  flex: none;
  order: 0;
  flex-grow: 0;
  /* border: solid white; */
}

.header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 16px;
  width: 446px;
  height: 45px;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 36px;
  width: 478px;
  height: 104px;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.image img {
  width: 105px;
  height: 82px;
  border-radius: 10px;
  flex: auto;
  order: 0;
  flex-grow: 0;
  margin: 0em 1em;
}

.TitulosDorado {
  width: 181px;
  height: 45px;
  font-family: "Adamina";
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 70%;
  color: #face8d;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.image {
  display: flex;

  padding: 1em 0em;
}

.image:hover {
  display: flex;
  border: solid 1px #face8d;
  border-radius: 20px;
}

.image .contenido {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 0px;
  width: 339px;
  height: 84px;
  flex: none;
  order: 1;
  flex-grow: 1;
  justify-content: center;
}

.textoContenido {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 10px;
  width: 331px;
  height: 32px;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.textoGrid {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 10px;
  width: 324px;
  height: 26px;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.textoMiniGrid {
  display: flex;
  align-items: center;
  padding: 0px;
  gap: 16px;
  width: 261px;
  height: 27px;
  flex: none;
  order: 0;
}

.textoMiniGrid .subtitulosMenu {
  width: 96px;
  height: 32px;
  font-family: "Adamina";
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 160%;
  color: #ffffff;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.price {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 8px;
  width: 57px;
  height: 32px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.priceTexto {
  width: 57px;
  height: 32px;
  font-family: "Adamina";
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 160%;
  color: #ffffff;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.descripcionMenu {
  width: 316px;
  height: 26px;
  font-family: "Adamina";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  color: #ffffff;
  opacity: 0.6;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

.right footer {
  display: flex;
  padding: 387px 0px 0px 0px;
  gap: 6px;
  width: 448px;
  /* height: 128px; */
  order: 2;
  flex-grow: 0;
  align-items: flex-start;
}

footer .column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 32px;
  width: 175px;
  height: 101px;
  flex: none;
  order: 0;
  flex-grow: 1;
}

.column .JuanCake {
  width: 145px;
  height: 29px;
  font-family: "Adamina";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 90%;
  color: #ffffff;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.column .Autor {
  width: 110px;
  height: 40px;
  font-family: "Adamina";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #ffffff;
  opacity: 0.6;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.column .pages {
  width: 49px;
  height: 29px;
  font-family: "Adamina";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  color: #ffffff;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.column nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;
  width: 107px;
  height: 152px;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

nav .menu-item-footer {
  width: 105px;
  height: 26px;
  font-family: "Adamina";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #ffffff;
  opacity: 0.6;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  text-decoration: none;
}

.menu-item-right:hover,
nav .menu-item-footer:hover {
  color: #face8d;
}

.formRight {
  display: flex;
  width: max-content;
  flex-direction: column;
  padding: 2em 2em;
  margin: auto;
}

.form_right {
  padding: 0.5em;
}

.button_right {
  width: 100%;
  height: 60px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #081212;
  background: #f8d49e;
  margin: 1em;
  border-radius: 500px;
}

.name_right {
  width: 50%;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: rgba(255, 255, 255, 0.8);
}

.input_right {
  width: 100%;
  height: 60px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  color: #ffffff;
  background-color: #00000000;
}

.input_right::placeholder {
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  color: #ffffff;
}

.form_right_2 {
  display: flex;
  width: 100%;
  padding: 0.5em;
  border-radius: 10px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  color: #ffffff;
  background-color: #00000000;
}

.input_right_2::placeholder {
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  color: #ffffff;
}

.contenedor_right {
  width: 50%; /* height: 224px; */
  margin: 0 0.5em 0 0.5em;
}

.tituloPedidos {
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 100%;
  color: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

body {
  display: flex;
}

.nav-desktop {
  position: fixed;
  z-index: 1;
  height: 100vh;
  width: 18%;
  background: #191c24;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.2);
}
.nav-logo {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #cda05d;
}
.nav-logo img {
  width: 95%;
  animation: fly-1 1s infinite alternate;
}

.nav-logo-items {
  color: #d69c8b;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav-logo-items hr {
  width: 100%;
  border: #edaca6 1px solid;
}

.content {
  min-height: 90vh;
  width: 82%;
  background: #000000;
  margin-left: 18%;
  margin-top: 5%;
}

header {
  height: 10%;
  width: 100%;
  background: #191c24;
  position: fixed;
  top: 0;
  left: 0;
}

.header-container {
  padding: 0 1.25rem;
  max-width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-right i {
  margin: 0 1rem;
  color: #face8d;
  cursor: pointer;
  font-size: 1.5rem;
}

section {
  max-width: 100%;
  padding: 3rem 5rem;
  background: #181616;
}

.sabores {
  margin-bottom: 3rem;
}

.sabores h1 {
  color: white;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.sabores-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sabores .card {
  background: #191c24;
  min-width: 28%;
  max-width: 28%;
  min-height: 8rem;
  padding: 1.25rem;
  border-radius: 1.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}

.sabores-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sabores-header p {
  border-radius: 15px;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  color: #ffffff;
}

.sabores-header p:hover {
  background: #ffffff16;
}

.card-icon i {
  font-size: 5rem;
  margin-right: 2rem;
}

.chocolate {
  color: #5a4640;
}

.fresa {
  color: #e99ac6;
}

.vainilla {
  color: #f3eed4;
}

.mym {
  color: #cfae6d;
}

.colors {
  color: #f579a7;
}

.card-body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card-body p {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.pedidos {
  max-width: 100%;
  background: #191c24;
  border-radius: 1.25rem;
  padding: 1.25rem;
}

.pedidos-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.pedidos-header h1 {
  color: #ffffff;
  font-size: 2rem;
  margin-bottom: 1rem;
  margin-right: 1rem;
}

.pedidos-header hr {
  width: 100%;
  border: #ffffff 1px solid;
  margin-right: 1rem;
}

.pedidos-header p {
  border-radius: 15px;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  color: #ffffff;
}

.pedidos-header p:hover {
  background: #edaca616;
}

.rwd-table {
  min-width: 100%;
}
.rwd-table tr {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #e3e3e3;
}
.rwd-table th {
  display: none;
}

.rwd-table td {
  display: block;
}

.rwd-table td:first-child {
  padding-top: 0.5em;
}

.rwd-table td:last-child {
  padding-bottom: 0.5em;
}

.rwd-table td:before {
  content: attr(data-th) ": ";
  font-weight: bold;
  width: 6.5em;
  display: inline-block;
}

.rwd-table th,
.rwd-table td {
  text-align: left;
}

.rwd-table {
  color: rgb(255 255 255);
  border-radius: 0.4em;
  overflow: hidden;
}

.rwd-table th,
.rwd-table td {
  margin: 0.5em 1em;
}

.rwd-table th,
.rwd-table td:before {
  color: #d7c090;
}

.rwd-table span {
  padding: 8px 20px;
  border-radius: 20px;
}

.pendiente {
  background: rgb(171 171 171 / 44%);
}

.entregado {
  background: rgba(0, 255, 0, 0.435);
}

.actions i {
  cursor: pointer;
  color: #fffbfa;
  border-radius: 15px;
  padding: 10px;
}

.actions i:hover {
  background: #edaca616;
}

.nav-items {
  /* padding-top: 2rem; */
  max-height: 100%;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.nav-item {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.nav-item :hover {
  background: #876d48;
}

.nav-item a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f9f9f9;
  width: 100%;
  height: 100%;
  text-decoration: none;
  font-size: 1.25rem;
}

.nav-item i {
  margin-right: 0.5rem;
}
